<div class="padreagenda">
    <div class="agenda">
        <div class="contenidoagenda">
            <h1>Agenda tu cita</h1>
            <h3>Aparta tu lugar para ofrecerte el mejor servicio</h3>
            <a href="/registros">
                <button class="learn-more">
                    <span class="circle" aria-hidden="true">
                        <span class="icon arrow"></span>
                    </span>
                    <span class="button-text">Agenda tu cita</span>
                </button>
            </a>
        </div>
    </div>
</div>