<div class="padreagenda">
    <div class="agenda">
        <div class="contenidoagenda">
            <h1>Ubica tu sucursal más cercana</h1>
            <h3>Tratamos de estar mas cerca de tí</h3>
            <a href="/ubicaciones">
                <button class="learn-more">
                    <span class="circle" aria-hidden="true">
                        <span class="icon arrow"></span>
                    </span>
                    <span class="button-text">Ver sucursales</span>
                </button>
            </a>
        </div>
    </div>
</div>