<center>
    <footer style="display: grid;">
        <div class="contactanos">
            <h1>¡Contáctanos!</h1>
            <div class="logo2"></div>
        </div>
        <div class="horarios">
            <h2>Horarios</h2>
            <p>Abrimos de 10:00am a 05:00pm</p>
        </div>
        <div class="col-lg-3 item social">
            <a href="#"><div class="fb"></div></a>
            <a href="#"><div class="twitter"></div></a>
            <a href="#"><div class="tiktok"></div></a>
            <p class="copyright">4INGES © 2022</p>
        </div>
    </footer>
</center>