{{>navbar}}

<center>
    <h1>.:: INICIO ::.</h1>
</center>
<br>
<div class="nosotros">
    <div class="contenido">
    <h1>Nosotros</h1>
    <h3>Somos una empresa en la cual nos dedicamos a la excelencia y a la calidad de nuestros servicios</h3>
    </div>
    {{>btnubicacion}}
    {{>btncita}}
</div>

{{>footer}}