<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js'></script>
  </head>
  <body>
    {{{body}}}
  </body>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/map.js"></script>
</html>
