{{>navbar}}

<center>
    <h1>.:: LOGIN ::.</h1>
</center>
<div class="padrelog">
<form>
    <div class="form-group">
      <label for="username" class="form-label mt-4">Nombre de usuario</label>
      <input type="text" class="form-control" id="username" aria-describedby="emailHelp" required placeholder="Nombre de usuario">
    </div>
    <div class="form-group">
      <label for="pwd" class="form-label mt-4">Contraseña</label>
      <input type="password" class="form-control" id="pwd" aria-describedby="emailHelp" required placeholder="Contraseña">
    </div>
    <br>
    <center>
    <button type="button" class="btn btn-outline-primary" id="btnAdmin">ENTRAR</button>
    <center>
</form>
</div>


<script src="./javascripts/admin.js"></script>

{{>footer}}