{{>navbar}}

<h1>servicios</h1>
<div class="servicios">
    <div class="lavado">
        <h1>Lavado exterior</h1>
        <div>

        </div>
    </div>
     
     <div class="aspirado">
          <h1>Aspirado</h1>
         <div>

         </div>
     </div>
          
    <div class="faros">
          <h1>Limpieza de faros</h1>
         <div>

         </div>
    </div>
</div>

{{>btncita}}

{{>footer}}