{{>navbar}}

<h1>servicios</h1>
<div class="servicios">
    <div class="lavado">
        <div class="infla">
        <h1>Lavado exterior</h1>
        </div>
        <div>

        </div>
    </div>
     
     <div class="aspirado">
         <div class="infas">
          <h1>Aspirado de interiores</h1>
         </div>
         <div>

         </div>
     </div>
          
    <div class="faros">
        <div class="infar">
          <h1>Limpieza de faros</h1>
        </div>
         <div>

         </div>
    </div>
</div>

{{>btncita}}

{{>footer}}