{{>navbar}}
<center>
<h1>.:: SERVICIOS ::.</h1>
</center>

<div class="servicios">
    <div class="lavado">
        <div class="infla">
            <h1>Lavado Exterior</h1>
            <br>
            <a href="/registros">
                <button class="learn-more">
                    <span class="circle" aria-hidden="true">
                        <span class="icon arrow"></span>
                    </span>
                    <span class="button-text" style="color:white; text-shadow: 3px 3px black;">Agenda tu cita</span>
                </button>
            </a>
        </div>
        <div>

        </div>
    </div>
     
     <div class="aspirado">
         <div class="infas">
          <h1>Aspirado de Interiores</h1>
          <br>
            <a href="/registros">
                <button class="learn-more">
                    <span class="circle" aria-hidden="true">
                        <span class="icon arrow"></span>
                    </span>
                    <span class="button-text" style="color:white; text-shadow: 3px 3px black;">Agenda tu cita</span>
                </button>
            </a>
         </div>
         <div>

         </div>
     </div>
          
    <div class="faros">
        <div class="infar">
          <h1>Limpieza de Faros</h1>
            <br>
            <a href="/registros">
                <button class="learn-more">
                    <span class="circle" aria-hidden="true">
                        <span class="icon arrow"></span>
                    </span>
                    <span class="button-text" style="color:white; text-shadow: 3px 3px black;">Agenda tu cita</span>
                </button>
            </a>
        </div>
         <div>

         </div>
    </div>
</div>

<br><br>

{{>btnubicacion}}

<br><br>
{{>footer}}