{{>navbar}}

<div class="ubi">
    {{>map}}

    <div class="ubi_info">
        <div class="alert alert-dismissible alert-secondary card">
            <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
        </div>
        <div class="alert alert-dismissible alert-secondary card">
            <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
        </div>
        <div class="alert alert-dismissible alert-secondary card">
            <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
        </div>
        <div class="alert alert-dismissible alert-secondary card">
            <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
        </div>
    </div>
</div>

{{>btncita}}

{{>footer}}