{{>navbar}}

<div class="ubi">
    {{>map}}

    <div class="ubi_info">
        <div class="alert alert-dismissible alert-secondary card">
            <strong>Torreón, Coahuila</strong> Calle Río Verde <strong>Tel: 871 723 0967</strong>
        </div>
        <div class="alert alert-dismissible alert-secondary card">
            <strong>Torreón, Coahuila</strong> Boulevard Diagonal Reforma<strong>Tel: 873 211 11</strong>
        </div>
        <div class="alert alert-dismissible alert-secondary card">
            <strong>Gómez Palacio, Durango</strong> Calle Enrique Anzuela <strong>Tel: 871 41 516</strong>
        </div>
        <div class="alert alert-dismissible alert-secondary card">
            <strong>Lerdo, Durango </strong> Avenida Coahuila <strong>Tel: 871 720 5318</strong>
        </div>
    </div>
</div>
<br>
<br>
{{>btncita}}
<br><br>

{{>footer}}