{{>navbar}}

<div class="ubi">
    {{>map}}

    <div class="ubi_info">
        <div class="alert alert-dismissible alert-secondary card">
            <strong>Torreón Coahuila</strong> Calle Río Verde <a href="#" class="alert-link">this important alert message</a>.
        </div>
        <div class="alert alert-dismissible alert-secondary card">
            <strong>Torreón Coahuila</strong> Boulevard Diagonal Reforma<a href="#" class="alert-link">this important alert message</a>.
        </div>
        <div class="alert alert-dismissible alert-secondary card">
            <strong>Gómez Palacio</strong> Calle Enrique Anzuela<a href="#" class="alert-link">this important alert message</a>.
        </div>
        <div class="alert alert-dismissible alert-secondary card">
            <strong>Lerdo </strong> Avenida Coahuila<a href="#" class="alert-link">this important alert message</a>.
        </div>
    </div>
</div>

{{>btncita}}

{{>footer}}